body {
    background-color:cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    width: 70%;
    margin-top: 20%;
    height: 250px;
    text-align: center;
    border-radius: 20px;
}

h1 {
    padding-top: 20px;
}

.input_task {

    width: 350px;
    height: 30px;
    border-radius: 10px;
    border-width: 1px;
}

.task_button {
    width: 40px;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    background-color: palegreen;
}

.tasks {
    list-style-type: none;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    border: none;
    border-radius: 4px;
    padding: 10px;


}

.tasks li {
    background-color: lightgray;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    gap: 15px;
    border-radius: 15px;
    margin-top: 10px;
}

.li_button {
    background-color: palegreen;
    margin-left: 20px;
    border-radius: 15px;
    height: 50px;
    
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
}

.edit_button {
    background-color: lightskyblue;
    border-radius: 15px; 
    height: 50px;
    width: 50px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;

}

